<div class="row">
    <div class="col-md-12 col-md-auto">
        <div class="ibox float-e-margins">
            <h3 class="ibox-title" langtag="page-clientedit"></h3>
            <div class="ibox-content">
                <form class="form-horizontal">
                    <input type="hidden" name="id" value="{{.c.Id}}">
                    <div class="form-group" id="remark">
                        <label class="control-label font-bold" langtag="word-remark"></label>
                        <div class="col-sm-10">
                            <input class="form-control" value="{{.c.Remark}}" type="text" name="remark" placeholder=""  langtag="word-remark">
                        </div>
                    </div>
                    <div class="form-group" id="u">
                        <label class="control-label font-bold" langtag="word-basicusername"></label>
                        <div class="col-sm-10">
                            <input class="form-control" value="{{.c.Cnf.U}}" type="text" name="u" placeholder="" langtag="info-unrestricted">
                            <span class="help-block m-b-none" langtag="info-onlyproxy"></span>
                        </div>
                    </div>
                    <div class="form-group" id="p">
                        <label class="control-label font-bold" langtag="word-basicpassword"></label>
                        <div class="col-sm-10">
                            <input class="form-control" value="{{.c.Cnf.P}}" type="text" name="p" placeholder="" langtag="info-unrestricted">
                            <span class="help-block m-b-none" langtag="info-onlyproxy"></span>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-success" type="button" onclick="submitform('add', '{{.web_base_url}}/tunnel/edit', $('form').serializeArray())"> <i
                                    class="fa fa-fw fa-lg fa-save"></i><span langtag="word-save"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
